html, body { 
	height:100%
}

/**
 * General
 */
.highlight {
	padding: 9px 14px;
	margin-bottom: 14px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
}

/**
 * Tabs
 */
.nav-tabs {
	margin-bottom: 10px;
}

/*
	really hacky way to force the map to show. if all the parent elements don’t have a
	explicit height the map wont show. FIXME
 */
.container {
	height: 80%;
}
.row > div, .ng-isolate-scope, .row, .tab-content, .tab-pane, .map {
	height: 100%;
}

/**
 * List
 */
.lakeAttributes {
	margin-bottom: 0;
	padding-left: 0;

	li {
		list-style-type: none;
		display: inline-block;
	}
}

/**
 * Map
 */
.angular-leaflet-map {
	height: 80%;
	width: 100%;
}

/**
 * Footer
 */
footer {
	background-color: white;

	.h3 {
		margin-top: 0;
	}

	ul {
		padding-left: 0;

		& li {
			list-style-type: none;
		}
	}

	& > .container {
		border-top: 1px solid #eee;
		padding-top: 20px;
		padding-bottom: 10px;
	}
	& > div {
		text-align: center;
	}

}