html, body { 
	height:100%
}

/**
 * General
 */
.highlight {
	padding: 9px 14px;
	margin-bottom: 14px;
	background-color: #f7f7f9;
	border: 1px solid #e1e1e8;
	border-radius: 4px;
}

h4 {
	margin-top: 0;
}

/**
 * Tabs
 */
.nav-tabs {
	margin-bottom: 10px;
}

/**
 * List
 */
.lakeAttributes {
	margin-bottom: 0;
	padding-left: 0;

	li {
		list-style-type: none;
		display: inline-block;
	}
}

.lake-list-description {
  	float: right;
  	color: #428BCA;
}

/**
 * Map
 */
.angular-leaflet-map {
	width: 100%;
}

/**
 * Legend
 */
.legend {
 	font: 14px/16px Arial, Helvetica, sans-serif;
 	background: rgba(255,255,255, 0.9);
 	box-shadow: 0 0 15px rgba(0,0,0,0.2);
 	border-radius: 5px;
 	padding: 6px 8px;
 	width: 180px;
 	line-height: 18px;
 	color: #555;
 	i {
 		width: 16px;
 		height: 16px;
 		float: left;
 		margin-right: 8px;
 		opacity: 0.7;
 	}
}

/**
 * Modal
 */
.modal-body {
	article + article {
		margin-top: 1.5em;
	}
	
	.lake-temp{
		float: right;
		height: 60px;
		width: 60px;
		display: inline;
		font: 30px Arial, Helvetica, sans-serif;
		background: rgba(255,255,255, 0.9);
		box-shadow: 0 0 15px rgba(0,0,0,0.2);
		border-radius: 5px;
		text-align: center;
		vertical-align: middle;
		line-height: 60px;  
	}

	.lake-temp-green {
		background: rgba(0,255,0, 0.9);
	}

	.lake-temp-orange {
		background: rgba(255,119,0, 0.9);
	}

	.lake-temp-red {
		background: rgba(255,0,0, 0.9);
	}

	.lake-text{
		display: inline;
	}
}

.modal-footer {
	.highcharts-legend-item{
		display: none;
	}
}
/**
 * Footer
 */
footer {
	background-color: white;

	.h3 {
		margin-top: 0;
	}

	ul {
		padding-left: 0;

		& li {
			list-style-type: none;
		}
	}

	& > .container {
		border-top: 1px solid #eee;
		padding-top: 20px;
		padding-bottom: 10px;
	}
	& > div {
		text-align: center;
	}

}