/******************************************************************
Site Name:
Author:

Stylesheet: Main Stylesheet

Here's where the magic happens. Here, you'll see we are calling in
the separate media queries. The base mobile goes outside any query
and is called at the beginning, after that we call the rest
of the styles inside media queries.
******************************************************************/
/*
BASE (MOBILE) SIZE
This are the mobile styles. It's what people see on their phones. If
you set a great foundation, you won't need to add too many styles in
the other stylesheets. Remember, keep it light: Speed is Important.
*/
html, body {
  height: 100%; }

/**
 * General
 */
.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px; }

/**
 * Tabs
 */
.nav-tabs {
  margin-bottom: 10px; }

/*
	really hacky way to force the map to show. if all the parent elements don’t have a
	explicit height the map wont show. FIXME
 */
.container {
  height: 80%; }

.row > div, .ng-isolate-scope, .row, .tab-content, .tab-pane, .map {
  height: 100%; }

/**
 * List
 */
.lakeAttributes {
  margin-bottom: 0;
  padding-left: 0; }
  .lakeAttributes li {
    list-style-type: none;
    display: inline-block; }

/**
 * Map
 */
.angular-leaflet-map {
  height: 80%;
  width: 100%; }

/**
 * Modal
 */
.modal-body h4 {
  margin-top: 0; }
.modal-body article + article {
  margin-top: 1.5em; }

/**
 * Footer
 */
footer {
  background-color: white; }
  footer .h3 {
    margin-top: 0; }
  footer ul {
    padding-left: 0; }
    footer ul li {
      list-style-type: none; }
  footer > .container {
    border-top: 1px solid #eee;
    padding-top: 20px;
    padding-bottom: 10px; }
  footer > div {
    text-align: center; }

/*
LARGER MOBILE DEVICES
This is for devices like the Galaxy Note or something that's
larger than an iPhone but smaller than a tablet.
*/
@media only screen and (min-width: 481px) { }

/*
TABLET & SMALLER LAPTOPS
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device.
*/
@media only screen and (min-width: 768px) { }

/*
DESKTOP
This is the average viewing window. So Desktops, Laptops, and
in general anyone not viewing on a mobile device.
*/
@media only screen and (min-width: 1030px) { }

/*
LARGE VIEWING SIZE
This is for the larger monitors and possibly full screen viewers.
*/
@media only screen and (min-width: 1240px) { }

/*
RETINA (2x RESOLUTION DEVICES)
This applies to the retina iPhone (4s) and iPad (2,3) along with
other displays with a 2x resolution. You can also create a media
query for retina AND a certain size if you want. Go Nuts.
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) { }

/*
iPHONE 5 MEDIA QUERY
Want to get fancy for no good reason? Knock yourself out.
*/
@media (device-height: 568px) and (-webkit-min-device-pixel-ratio: 2) { }

/*
PRINT STYLESHEET
Feel free to customize this. Remember to add things that won't make
sense to print at the bottom. Things like nav, ads, and forms should
be set to display none.
*/
@media print { }
