<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="dismiss()">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <h3 class="modal-title">
        FAQ
    </h3>
</div>
<div class="modal-body">
    <p>Donec sed odio dui. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Maecenas sed diam eget risus varius blandit sit amet non magna. Curabitur blandit tempus porttitor.</p>
</div>