<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" ng-click="dismiss()">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Schließen</span>
    </button>
    <h3 class="modal-title">
        Häufig gestellte Fragen
    </h3>
</div>
<div class="modal-body">
    <article>
        <h4>Was sagt die Wasserqualität aus?</h4>
        <p>Als Indikatoren für die Wasserqualität gelten bestimmte Grenzwerte von enthaltenen Bakterien im Wasser nach EU-Richtlinie XY</p>
    </article>

    <article>
        <h4>Woher bekommt ihr die Daten?</h4>
        <p>Die Daten stehen frei über das Hessische Landesamt für Umwelt und Gesundheit (HLUG) zur verfügung.</p>
    </article>

    <article>
        <h4>Ich habe einen Fehler gefunden oder einen Verbesserungsvorschlag</h4>
        <p>Spitze! Schreib uns doch eine <a href="#">Mail</a>. Wir freuen uns.</p>
    </article>
</div>