<accordion close-others="true">
    <accordion-group ng-repeat="lake in lakeList | orderBy : order">
        <accordion-heading>
            <!--
                distance span is hidden when there is no distance. but when there is,
                it gets rounded to 2 decimal places
            -->
            {{ lake.name }}
            <span class="lake-list-description" ng-show="lake.distance">({{ lake.distance | number:2 }}km entfernt)</span>
        </accordion-heading>
        <div class="highlight pull-right" ng-show="lake.attributes">
            <ul class="lakeAttributes">
                <li ng-repeat="attr in lake.attributes" ng-bind-html="attr | trustHtml"></li>
            </ul>
        </div>

        <p ng-bind-html="lake.description | trustHtml"></p>
    </accordion-group>
</accordion>