<div class="modal-header" ng-show="data.name">
    <button type="button" class="close" data-dismiss="modal" ng-click="dismiss()">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
    </button>
    <h3 class="modal-title">
        {{ data.name }}
    </h3>
</div>
<div class="modal-body">
    <div ng-bind-html="data.introtext | trustHtml" class="lake-text col-md-10"></div>
    <div class="lake-temp col-md-2" ng-class="currentWaterTemperatureClass" >{{currentWaterTemperature}}</div>
    <div style="clear:both;"></div>
    <div class="lake-route col-md-12">
        <a ng-href="http://maps.google.com/maps?daddr={{data.lat}},{{data.lng}}{{hasGeolocation?'&saddr='+ userLat + ',' + userLng : '' }}" target="_"><i class="fa fa-car"></i> Routenplaner</a>
    </div>
</div>
<div class="modal-footer">
    <ul class="lakeAttributes" ng-show="data.attributes">
        <li ng-repeat="attr in data.attributes" ng-bind-html="attr | trustHtml"></li>
    </ul>
    <highchart id="weekTemp" config="weekTempChartConfig"></highchart>
</div>
